<% include header %>

<h1>Fashion Nieuws</h1>

<nav>
  <% for (var i = 0; i < categorieen.length; i++) { %>
    <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
  <% } %>
</nav>


  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section id="overzicht">
        <h2>
          <a class="titel" ><%- item.titel %></a>
        </h2>
        <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">

        <p class="datum"><%- item.datum %></p>

        <p>
          <%- item.samenvatting %>
        </p>

        <a id="leesMeer" href=/items/<%- item.id %>>Lees meer</a>


    </section>
    <% teller++;}); %>



<% include footer %>
